.CommentBubble {
    max-width: 50%;
    position: relative;
    padding: 20px;
    margin: 20px;
    border: 1px solid gray;
    border-radius: 10px;
}

.CommentBubble--text {
    min-height: 32px;
}

.CommentBubble img {
    width: 30px;
    height: auto;
    position: absolute;
    left: -10px;
    bottom: -20px;
}
